/* .main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

:root {
  --background-color: #e5dada42;
  --text-color: black;
  --elements-color: white;
  --dark-background-color: hsl(207, 26%, 17%);
  --dark-text-color: white;
  --dark-elements-color: hsl(209, 23%, 22%);
}

/* ========== Dark Mode ================== */

main {
  background-color: var(--background-color);
  color: var(--text-color);
}

main.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}
